:host {
  display: block;
  position: absolute;
  inset: 0;
}

.protein-viewer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.viewer {
  width: 100%;
  height: 100%;
  position: relative;
}
