<div class="flex flex-col h-full">
  <div class="my-4">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="grow">Enzyme Function Predictions</span>
        <div class="flex items-center gap-2">
          <button class="btn-outline !flex items-center gap-2" (click)="showFilter = !showFilter">
            <i class="pi pi-filter"></i>
            <h6 class="inline leading-lg">Filter</h6>
          </button>
          <button class="btn-outline" (click)="clearAllFilters()">
            Clear All
          </button>
        </div>
      </ng-template>

      <div class="flex flex-col">
        @if (hasFilter) {
        <div id="container-filters" class="flex flex-col gap-2 w-full gap-4 p-2 px-4 bg-white">
          <div class="font-semibold">Current Filters</div>
          <div class="flex gap-2">
            @for (filter of filterRecords; track filter.label) {
            @if (filter.hasFilter()) {
            <span class="rounded-sm bg-[--surface-d] p-1 flex items-center gap-1">
              <div [innerHTML]="filter.label.value" class="font-semibold"></div>: {{
              filter.formattedValue }}
              <i class="pi pi-times-circle cursor-pointer" (click)="
                                                filter.value = filter.defaultValue;
                                                applyFilters();
                                            "></i>
            </span>
            }
            }
          </div>
        </div>

        <hr />
        }

        <div class="flex w-full">
          <p-table #resultsTable [value]="result.data" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
            [paginator]="true" dataKey="iid" class="w-full h-full" tableStyleClass="w-full" styleClass="w-full"
            [columns]="columns" (onRowExpand)="onRowExpand($event)">
            <ng-template pTemplate="header">
              <tr>
                @for (filter of filters.entries(); track filter[0]) {
                @let value = filter[1];
                <th class="align-middle relative group text-center" pSortableColumn="{{ value.field }}">
                  <div [innerHTML]="value.label.value"></div>
                  <p-sortIcon
                    class="absolute top-0 right-0 p-2 text-[#6C757D] [.p-highlight_&]:!visible invisible group-hover:visible"
                    [field]="value.field" />
                </th>
                }
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-expanded="expanded">
              <tr class="table-row">
                @for (filter of filters.entries(); track filter[0]) {
                @let value = filter[1];
                @switch (value.field) {
                  @case("protein") {
                  <td class="align-middle">
                    <button title="Expand" type="button" [pRowToggler]="row">
                      <i [class]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </button>
                    {{ row[value.field] }}
                  </td>
                  }
                @case ('uniprot') {
                <td class="align-middle">
                  <div class="flex flex-col gap-1">
                    <!-- @for (id of row.uniprot; track id) { -->
                    <a class="block" [routerLink]="['/query/uniprot', row.uniprot]" class="text-blue-500 cursor-pointer">{{ row.uniprot}}</a>
                    <!-- } -->
                  </div>
                </td>
                }
                @case ('organism') {
                  <td class="align-middle italic">
                    {{ row[value.field] }}
                  </td>
                  }
                @case ('ec_number') {
                <td class="align-middle">
                  <a [routerLink]="['/query/ec', row.ec_number]" class="text-blue-500 cursor-pointer">{{ row.ec_number
                    }}</a>
                </td>
                }
                @case('predicted_ec') {
                <td class="align-middle">
                  <div class="flex flex-col gap-2">
                    @for (ec of row.predicted_ec; track ec) {
                    <app-ec-chip [ec]="ec"></app-ec-chip>
                    }
                  </div>
                </td>
                }
                @case('curation_status') {
                  <td class="align-middle">
                    <div class="flex gap-1 items-center justify-center">
                      <i class="pi"
                      [class.pi-star-fill]="row.curation_status === 'Reviewed (Swiss-Prot)'"
                      [class.text-yellow-500]="row.curation_status === 'Reviewed (Swiss-Prot)'"
                      [class.pi-star]="row.curation_status !== 'Reviewed (Swiss-Prot)'"
                      [class.text-gray-400]="row.curation_status !== 'Reviewed (Swiss-Prot)'"
                      ></i>
                      {{ row.curation_status }}
                    </div>
                  </td>
                  }
                @default {
                <td class="align-middle">
                  {{ row[value.field] }}
                </td>
                }
                }
                }
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-row let-expanded="expanded">
              <tr>
                <td colspan="11" class="relative overflow-hidden no-scrollbar bg-[#F7FAFF] !p-2">
                  <div [@slideIn]
                    class="rounded-md border border-[--surface-d] border-solid bg-white p-2 flex flex-col gap-2 w-full">
                    <div class="flex gap-16 flex-wrap">
                      <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'ID', value: row.id }"></ng-container>
                      <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'Gene', value: row.gene_name }"></ng-container>
                      <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'NCBI Tax ID', value: row.ncbi_tax_id }"></ng-container>
                      <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'EC Number (Uniprot)', value: row.ec_uniprot ? row.ec_uniprot.join(', ') : '' }"></ng-container>
                      <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'Amino Acids', value: row.amino_acids }"></ng-container>
                      <div class="flex flex-col gap-2">
                        <div class="text-[--text-secondary-color]">Enzyme Sequence</div>
                        <button class="flex items-center gap-1 text-[#64748B] font-semibold" title="Download Sequence" (click)="copySequence(row.sequence)">
                          <i class="pi pi-copy"></i>
                          <h6>Copy to Clipboard</h6>
                        </button>
                      </div>
                    </div>
                    
                    <ng-container *ngTemplateOutlet="rowInfo; context: { label: 'Enzyme Function', value: row.function }"></ng-container>
                    <div class="flex flex-col gap-2">
                      <div class="text-[--text-secondary-color]">Generic Names</div>
                      <div>
                        @for (value of row.generic_names; track value) {
                            <span class="font-semibold">{{ value.name }}</span> (EC: {{ value.ec }})
                            @if ($index !== row.generic_names.length - 1) {
                              <span>,&nbsp;</span>
                            }
                        }
                      </div>
                    </div>

                    <p-tabView (activeIndexChange)="onReactionSchemaTagClicked(row.predicted_ec[$event]?.ec_number)">
                      @for (ec of row.predicted_ec; track ec) {
                      <p-tabPanel>
                        <ng-template pTemplate="header">
                          <div class="flex align-items-center gap-2">
                              <app-ec-arrow [score]="ec.score" />
                              <span class="font-bold white-space-nowrap m-0">
                                  EC:{{ ec.ec_number }}
                              </span>
                          </div>
                        </ng-template>
                        @let reactionSchema = $any(reactionSchemaCache[ec.ec_number])?.data;
                        @if (reactionSchema) {
                        <app-reaction-schema [reactionSchema]="reactionSchema"></app-reaction-schema>
                        }
                      </p-tabPanel>
                      }
                    </p-tabView>

                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="11" class="text-center">
                  <div class="flex flex-col items-center justify-center h-full gap-4 p-8">
                    <h5 class="font-semibold text-center">Empty</h5>
                    <p class="text-center">No kinetic data found. Please try a new search.</p>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<app-filter-dialog [(visible)]="showFilter" [filters]="filters"
  [numberResults]="$any(resultsTable)?.filteredValue?.length ?? result.total" (filterChange)="searchTable($event)"
  (clearAllFilters)="clearAllFilters()" (applyFilters)="applyFilters()">
</app-filter-dialog>

<ng-template #rowInfo let-label="label" let-value="value">
@if (value) {
  <div class="flex flex-col gap-1" [class.opacity-25]="!value">
    <div class="text-[--text-secondary-color]">{{ label }}</div>
    <div class="font-semibold" [class.opacity-25]="!value">{{ value || 'N/A' }}</div>
  </div>
}
</ng-template>

<p-toast [baseZIndex]="10000" />