<table class="table-fixed border-spacing-2" #heatmapTable>
  <tr>
    @for (interactable of columnKeys; track interactable.id) {
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                $implicit: interactable,
                type: 'colKey'
            }"></ng-container>
    }
  </tr>
  @for (row of values; track $index) {
  <tr>
    <!-- Row Header -->
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                $implicit: rowKeys[$index],
                type: 'rowKey'
            }"></ng-container>

    <!-- Cells -->
    @for (interactable of row; track interactable.id) {
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                    $implicit: interactable,
                    type: 'cell'
                }"></ng-container>
    }
  </tr>
  }
</table>

<ng-template #interactableTemplate let-interactable let-type="type">
  @let isColKey = type === 'colKey';
  @let isRowKey = type === 'rowKey';
  @let isKey = isColKey || isRowKey;
  @let isMuted = interactable.state === InteractableState.MUTED;
  @let isNA = interactable.value === 0;
  @let isSelected = interactable.state === InteractableState.SELECTED;
  
  @let baseCellClassName = 'align-middle min-w-4 h-4';
  @let keyClassName = 'sticky left-0 bg-white border-solid border-gray-200 h-full z-[10]' + (isColKey ? ' border-b' : ' border-r'); 
  @let mutedClassName = 'cell-muted';
  @let naClassName = 'cell-na';
  @let selectedClassName = 'z-[9] border-solid border-pink-500';
  @let topBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.above ? interactable.above.state !== InteractableState.SELECTED : true))
    ? 'border-t-4' : '';

  @let leftBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.prev ? interactable.prev.state !== InteractableState.SELECTED : true))
    ? 'border-l-4' : '';

  @let bottomBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.below ? interactable.below.state !== InteractableState.SELECTED : true))
    ? 'border-b-4' : '';

  @let rightBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.next ? interactable.next.state !== InteractableState.SELECTED : true))
    ? 'border-r-4' : '';
  
  @let classNames = [
    baseCellClassName,
    isKey ? keyClassName : '',
    isSelected ? selectedClassName : '',
    isMuted ? mutedClassName : '',
    isNA ? naClassName : '',
    topBorderClassName,
    leftBorderClassName,
    bottomBorderClassName,
    rightBorderClassName,
  ].join(' ');

  <td
    [class]="classNames"
    [style.background-color]="interactable.color"
    (mousedown)="onInteractableMouseDown(interactable, $event)"
    (mouseover)="onInteractableMouseOver(interactable, $event)"
    (mouseup)="onInteractableMouseUp(interactable, $event)"
    [attr.data-col-index]="interactable.column"
    [attr.data-row-index]="interactable.row"
  >
    {{ type === 'cell' ? '' : interactable.value }}
  </td>
</ng-template>