<table class="table-fixed border-spacing-2" #heatmapTable>
  <tr>
    @for (interactable of columnKeys; track interactable.id) {
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                $implicit: interactable,
                type: 'colKey'
            }"></ng-container>
    }
  </tr>
  @for (row of values; track $index) {
  <tr>
    <!-- Row Header -->
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                $implicit: rowKeys[$index],
                type: 'rowKey'
            }"></ng-container>

    <!-- Cells -->
    @for (interactable of row; track interactable.id) {
    <ng-container *ngTemplateOutlet="interactableTemplate; context : {
                    $implicit: interactable,
                    type: 'cell'
                }"></ng-container>
    }
  </tr>
  }
</table>

<ng-template #interactableTemplate let-interactable let-type="type">
  @let isColKey = type === 'colKey';
  @let isRowKey = type === 'rowKey';
  @let isKey = isColKey || isRowKey;
  @let isCell = type === 'cell';
  @let isMuted = interactable.state === InteractableState.MUTED;
  @let isNA = interactable.value === 0;
  @let isSelected = interactable.state === InteractableState.SELECTED;
  
  @let baseCellClassName = 'align-middle min-w-4 h-4';
  @let keyClassName = 'sticky left-0 bg-white border-solid border-gray-200 h-full z-[10]' + (isColKey ? ' border-b' : ' border-r'); 
  @let mutedClassName = 'cell-muted';
  @let naClassName = 'cell-na';
  @let selectedClassName = 'z-[9] border-solid border-[#38001B]';
  @let interactiveClassName = '';
  @let topBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.above ? interactable.above.state !== InteractableState.SELECTED : true))
    ? 'border-t-4' : '';

  @let leftBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.prev ? interactable.prev.state !== InteractableState.SELECTED : true))
    ? 'border-l-4' : '';

  @let bottomBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.below ? interactable.below.state !== InteractableState.SELECTED : true))
    ? 'border-b-4' : '';

  @let rightBorderClassName
    = (interactable.state === InteractableState.SELECTED
    && (interactable.next ? interactable.next.state !== InteractableState.SELECTED : true))
    ? 'border-r-4' : '';
  
  @let classNames = [
    baseCellClassName,
    isKey ? keyClassName : '',
    isSelected ? selectedClassName : '',
    isMuted ? mutedClassName : '',
    isNA ? naClassName : '',
    interactiveClassName,
    topBorderClassName,
    leftBorderClassName,
    bottomBorderClassName,
    rightBorderClassName,
  ].join(' ');

  <td
    [class]="classNames"
    [style.background-color]="interactable.color"
    (mouseenter)="isCell ? onCellMouseEnter(interactable, $event) : null"
    (mouseleave)="isCell ? onCellMouseLeave() : null"
    [attr.data-col-index]="interactable.column"
    [attr.data-row-index]="interactable.row"
  >
    {{ isCell ? '' : interactable.value }}
  </td>
</ng-template>

<p-overlayPanel
  #cellTooltip
  [dismissable]="true"
  [showCloseIcon]="false"
  styleClass="rounded-xl shadow-2xl max-w-xs p-2 bg-[#343A40] text-white border border-white/10"
  (onHide)="onTooltipHidden()"
>
  <ng-container *ngIf="tooltipContext as tooltip">
    <span class="text-base font-semibold tracking-tight">{{ tooltip.displayLabel }}</span>
    <div class="h-px bg-white/20 my-1"></div>

    <div class="flex items-center justify-between gap-4 text-sm">
      <span class="uppercase text-xs tracking-[0.08em] text-white/70">LLR</span>
      <div class="flex items-center gap-2">
        <span class="inline-block h-2.5 w-2.5 rounded-full shadow-[0_0_0_2px_rgba(255,255,255,0.2)]" [style.backgroundColor]="tooltip.accentColor"></span>
        <span class="font-semibold text-white">{{ tooltip.llrFormatted }}</span>
      </div>
    </div>

    <div class="flex items-center justify-between gap-4 text-sm">
      <span class="uppercase text-xs tracking-[0.08em] text-white/70">Predicted Effect</span>
      <div class="flex items-center gap-2 font-semibold" [ngClass]="tooltip.accentClass">
        <i class="pi text-sm" [ngClass]="tooltip.arrowIcon"></i>
        <span>{{ tooltip.predictedEffectLabel }}</span>
      </div>
    </div>
  </ng-container>
</p-overlayPanel>